header{
    height: 80px;
    display: flex;
justify-content: space-between;
align-items: center;
}

body{
  background-color: rgb(210, 215, 223);
}

nav {

    width: 500px;
    display: flex;
    justify-content: space-around;
}
.a{
    text-decoration: none;
    color: black;
}
    .b{
        text-decoration: none;
        color: black;
    }
    .c{
        text-decoration: none;
    color: black;
    }
    .d{
        text-decoration: none;
    color: black;
    }
    .e{
        text-decoration: none;
    color: black;
    }
    .f{text-decoration: none;
        color: black;}
        
.g{
    margin: 0 80px;
}

.h{
    display: flex;
}

.i{
    width: 50vw;
    position: relative;
}
.i{
    width: 100%;
}

.k{
    font-size: 20px;
    color: #df6951;
line-height: 1em;
    text-transform: uppercase;
    font-weight: 700;
}
.l{
    font-size: 84px;
    color: #181e4b;
    line-height: 89px;
    letter-spacing: -0.04em;

}

.m{
    margin: 30px 0 34px;
    width: 400px;
    font-size: 16px;
    text-align: justify;
}

.n{
    display: inline;
    text-decoration: none;
border-radius: 5px;
width: 200px;
height: 40px;
border: none;
background-color: orange;
box-shadow:3px 3px 10px black ;
}

.p{
    color: white;
    text-decoration: none;
}

.o{
    display: inline;
    text-decoration: none;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    border: none;
    background: none;
}

.q{
    color:black;
    text-decoration: none;
}

.r{
    position: relative;
}

.s{
    position: absolute;
    top: 350px;
}
.t{
    text-align: initial;
}
.u{
    position: absolute;
   left: 180px;
    top: 300px;
   background-color: whitesmoke;
   border-radius: 25px;
    z-index: -1;
}

.v{
    position: absolute;
    left: 450px;
     top: 350px;
     z-index: -3;

}

.w{
    position: absolute;
    left: 600px;
     top: 350px;
     z-index: -3;
}

.x{
    text-align: start;
}

.y{
 position: absolute;
 left: 300px;
 bottom: 130px;
 justify-content: space-between;
}
.z{
background-color:  rgb(218, 226, 238);
border-radius: 5px;
height: 25px;
width: 100px;
}










